<ion-card>
  <ion-card-title color="dark" text-center margin-top="2px">
    Hey {{customer.name}}!
  </ion-card-title>
  <ion-card-content>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col text-center size="2">
              <ion-avatar>
                  <img [src]="this.imageUrl">
              </ion-avatar>
          </ion-col>
          <ion-col text-center size="10">
            <h2>
              Are you still feeling {{twoEmotions}}?
            </h2>              
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col text-center>
                <ion-button style="text-transform:none" fill="outline" (click)="onCancel()" color="success" expand="block">
                    <ion-label>Yes, I am still feeling {{twoEmotions}}</ion-label>
                    <ion-icon name="checkmark" slot="end"></ion-icon>
                </ion-button>
                <ion-button style="text-transform:none" fill="outline" (click)="onNavigate()" color="danger" expand="block">
                  <ion-label>No, my current mood changed</ion-label>
                  <ion-icon name="close" slot="end"></ion-icon>
              </ion-button>
            </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card-content>
</ion-card>
