<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>How are you?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Hey {{ loadedCustomer.name }}! </ion-card-title>
            <ion-card-subtitle>
              <ion-img [src]="loadedCustomer.imageUrl"></ion-img>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
            <!-- <ion-buttons> -->
              <ion-button color="success" size="large" expand="block" (click)="ishappy()">Happy</ion-button>
              <ion-button color="warning" size="large" expand="block" (click)="isrelaxed()">Relaxed</ion-button>
              <ion-button color="medium" size="large" expand="block" (click)="issad()">Sad</ion-button>
              <ion-button color="danger" size="large" expand="block" (click)="isstressed()">Stressed</ion-button>
            <!-- </ion-buttons> -->
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>      
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
