<ion-card>
  <ion-card-title text-center margin-top="2px">
    Please rate the given Advice! 
  </ion-card-title>
  <ion-card-content>
    <ion-grid>
      <ion-row align-items-center>
        <ion-col size="2">
          <ion-avatar>
              <img [src]="customer.imageUrl">
          </ion-avatar>
        </ion-col>
        <ion-col size="10">
          How much has the advice "{{ advice.description }}"  helped you handle {{ customer.name }}?
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" offset="2">
          <ionic4-star-rating #rating
            activeIcon = "ios-star"
            defaultIcon = "ios-star-outline"
            activeColor = "#dbbf04" 
            defaultColor = "#f4f4f4"
            readonly="false"
            rating="0"
            fontSize = "32px"
            (ratingChanged)="logRatingChange($event)">
          </ionic4-star-rating>
        </ion-col>
        <ion-col size="5">
          <ion-button color="danger" fill="outline" (click)="onCancel()">Advice not used!</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
