<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title *ngIf="!isLoading">{{loadedRetailer.name}}, what's happening in your shop?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <div *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col>
        <ion-card color="danger">
          <div class="card-title">
            Stressed
          </div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="success">
          <div class="card-title">
            Happy
          </div>
        </ion-card>      
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="warning">
          <div class="card-title">
            Sad
          </div>
        </ion-card> 
      </ion-col>
      <ion-col>
        <ion-card color="medium">
          <div class="card-title">
            Relaxed
          </div>
        </ion-card>       
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
