<ion-header>
  <ion-toolbar>
    <ion-title>What's happening in your shop?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card height="300px">
          <img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Red.svg" height="340px" width="350px">
          <div class="card-title">
            Stressed
          </div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="https://www.publicdomainpictures.net/pictures/30000/velka/solid-green-background.jpg" height="300px" width="350px">
          <div class="card-title">
            Happy
          </div>
        </ion-card>      
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="https://upload.wikimedia.org/wikipedia/commons/9/94/Auto_Racing_Yellow.svg " height="300px" width="350px">
          <div class="card-title">
            Sad
          </div>
        </ion-card> 
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/86/Solid_grey.svg" height="340px" width="350px">
          <div class="card-title">
            Relaxed
          </div>
        </ion-card>       
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
