<ion-header>
  <ion-toolbar>
    <ion-title>What's happening in your shop?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-button color="danger" expand="block">Stressed</ion-button>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-button color="success" expand="block">
          <ion-label>Happy</ion-label>
        </ion-button>        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="warning" expand="block">
          <ion-label>Sad</ion-label>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium" expand="block">
          <ion-label>Relaxed</ion-label>
        </ion-button>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
