<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title *ngIf="isShopping && !isLoading">{{this.loadedCustomer.currentShop}}</ion-title>
    <ion-title *ngIf="!isShopping && !isLoading">Start Shopping</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-searchbar showCancelButton="never" translucent *ngIf="!isLoading"></ion-searchbar>  
  <div *ngIf="!isShopping && !isLoading">
    <ion-card>
      <ion-card-header color="danger">Please select the shop you're in!</ion-card-header>
    </ion-card>
  </div>
  <div *ngIf="isShopping && !isLoading">
    <ion-card>
      <ion-card-title margin="5px" text-center>You're shopping in {{ this.loadedCustomer.currentShop}}</ion-card-title>
      <ion-img [src]="this.currentRetailer.imageUrl" style="height: 150px;" margin-bottom="5px"></ion-img>
    </ion-card>
  </div>
  <div *ngIf="!isLoading">
    <ion-list *ngFor="let retailer of loadedRetailers">
      <ion-item>
        <ion-avatar slot="start">
          <ion-img [src]="retailer.imageUrl"></ion-img>
        </ion-avatar>
        <ion-label>{{retailer.name}}</ion-label>
        <ion-buttons>
        <ion-button fill="clear" (click)="shopChanged(retailer)" slot="icon-only">
          <ion-icon name="log-in"></ion-icon>
        </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
