<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
          <ion-menu-button menu="customer"></ion-menu-button>
    </ion-buttons> 
    <ion-title *ngIf="isShopping && !isLoading">{{this.loadedCustomer.currentShop}}</ion-title>
    <ion-title *ngIf="!isShopping && !isLoading">Starte deinen Einkauf</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <!-- <ion-searchbar showCancelButton="never" translucent *ngIf="!isLoading"></ion-searchbar>   -->
  <div *ngIf="!isShopping && !isLoading">
    <ion-card>
      <ion-card-header color="danger">Bitte wähle in den Shop aus, in dem Du dich befindest</ion-card-header>
    </ion-card>
  </div>
  <div *ngIf="isShopping && !isLoading">
    <ion-card>
      <ion-card-title margin="5px" text-center>Du befindest dich in {{ this.loadedCustomer.currentShop}}</ion-card-title>
      <ion-img [src]="this.currentRetailer.imageUrl" style="height: 150px;" margin-bottom="5px"></ion-img>
      <ion-card-content text-center>
        {{this.currentRetailer.address}}
        <!-- <br>
        {{this.currentRetailer.description}} -->
      </ion-card-content>
      <ion-button fill="clear" color="danger" expand="block" (click)="shopChanged(currentRetailer)">Laden verlassen</ion-button>
    </ion-card>
  </div>
  <div *ngIf="!isLoading">
    <ion-list *ngFor="let retailer of loadedRetailers">
      <ion-item button type="button" (click)="shopChanged(retailer)" [disabled]="retailer.name === loadedCustomer.currentShop">
        <ion-avatar slot="start">
          <ion-img [src]="retailer.imageUrl"></ion-img>
        </ion-avatar>
        <ion-label>{{retailer.name}}</ion-label>
        <ion-buttons>
        <ion-button fill="clear" slot="icon-only" [disabled]="retailer.name === loadedCustomer.currentShop">
          <ion-icon name="log-in" *ngIf="retailer.name !== loadedCustomer.currentShop"></ion-icon>
          <ion-icon name="log-out" *ngIf="retailer.name === loadedCustomer.currentShop"></ion-icon>
        </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
