<ion-app>
  <ion-menu side="start" menuId="customer">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          ComTEm
        </ion-title>
      </ion-toolbar>
    </ion-header> 
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/customer/tabs/status">
            <ion-icon name="happy" slot="start"></ion-icon>
            <ion-label>Status</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/customer/tabs/history">
              <ion-icon name="time" slot="start"></ion-icon>
              <ion-label>History</ion-label>
            </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
            <ion-item lines="none" (click)="onLogout()" button>
                <ion-icon name="log-out" slot="start"></ion-icon>
                <ion-label>Logout</ion-label>
            </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
