<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="admin"></ion-menu-button>
    </ion-buttons>
    <ion-title>Manage Advices</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="addAdvice()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div text-center *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-list>
            <ion-list-header>
              Stressed to Sad
            </ion-list-header>
            <ion-item-sliding *ngFor="let advice of this.allAdvices">
              <ion-item *ngIf="advice.oldEmotion === 'stressed' && advice.newEmotion === 'sad'">
                <ion-label>
                  {{advice.description}}
                </ion-label>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option (click)="deleteAdvice(advice)" color="danger">
                  <ion-icon name="trash"></ion-icon>
              </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-list>
            <ion-item>

            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
