<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="admin"></ion-menu-button>
    </ion-buttons>
    <ion-title>Manage Advices</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="addAdvice()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div text-center *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            Happy to Sad
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
